service: my-repositories
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs16.x
  region: sa-east-1
  httpApi:
    cors: true

functions:
  view-repositories:
    handler: view-repositories.default
    events:
      - httpApi:
          path: /repositories/barbararech
          method: GET
#    Define function environment variables here
#    environment:
#      variable2: value2

